shaash.cp
/*.cpp
a.out
test_case_*.txt
ts.cpp
wire.cpp
meet.js
nonr2-7.txt
make.sh
iofi.cpp
node_modules
binaries/samples
binaries/scorers/*.scorer
binaries/models/*.pbmm
binaries/videos/*.mp4
.env
binaries/audios/*.wav
uploads/tmp/*.mp4
uploads/jpg/*.jpg
*.rdb